{% load static i18n mapentity_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo-login.png' %}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item {% if viewname == 'list' %}{{ modelname }} active{% endif %}">
                    <button class="btn-list btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        {% trans "List" %} <span id="nbresults" class="badge badge-secondary"></span>
                    </button>
                    <div class="dropdown-menu">
                        {% for entity in allowed_entities %}
                            {% if entity.menu %}
                                <a class="dropdown-item" href="{% url entity.url_list %}">
                                    <img src="{% static entity.icon_small %}"/> {{ entity.label }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                </li>
            {% endif %}
            <ul id="historylist" class="navbar-nav {% if request.session.history %} nav-tabs{% endif %}">
                {% block toolbar %}
                    {% for item in request.session.history %}
                        {% if forloop.first and viewname != "list" %}
                            <li class="{{ modelname }} nav-item history first mr-1">
                                <a class="nav-link active" href="{{ item.path }}">
                                    <span class="content">{% if title|lower %}{{ title }}{% else %}
                                        {{ item.title }}{% endif %}</span>
                                    {% if viewname == "detail" %}
                                        <button class="close hidden">&times;</button>
                                    {% endif %}
                                </a>
                            </li>
                        {% else %}
                            <li class="
                                    {% if forloop.first %}{% block nav-detail %}{% endblock nav-detail %}{% endif %} {{ item.modelname }} nav-item history mr-1">
                                <a class="nav-link bg-light" href="{{ item.path }}" title="{{ item.title }}">
                                    <span class="content">{{ item.title|truncatechars:12 }}</span>
                                    <button class="close d-none">&times;</button>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endblock toolbar %}
            </ul>

        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bg-light" href="#" id="navbarDropdownUsermenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                        {{ request.user }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUsermenuLink">
                        {% smart_include "menuentries" %}
                        {% if request.user.is_staff %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">
                                <i class="bi bi-gear-fill"></i> {% trans "Admin" %}
                            </a>
                        {% endif %}

                        {% if ACTION_HISTORY_ENABLED and 'mapentity.read_logentry' in perms %}
                            <a class="dropdown-item{% block nav-logbook %}{% endblock nav-logbook %}"
                                   href="{% url 'mapentity:logentry_list' %}">
                                   <i class="bi bi-book"></i> {% trans "Logbook" %}
                            </a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Dropdown header</h6>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <div class="dropdown-item">
                                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <button type="submit" name="language" value="{{ language.code }}"
                                            class="btn language-menu-item {% if language.code == LANGUAGE_CODE %}active{% endif %}">
                                        {{ language.name_local|title }} ({{ language.code }})
                                    </button>
                                </form>
                            </div>
                        {% endfor %}

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger" id="btn-logout" type="submit">
                                    <i class="bi bi-power"></i> {% trans "Logout" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
