{% load i18n %}
<a href="#" id="filters-btn" class="btn btn-info ml-auto"><i class="bi bi-filter"></i> {% trans "Filter" %}</a>

<div id="filters-hover"></div>
<div id="filters-popover"></div>
<div id="filters-wrapper" style="display:None">
    <div id="filters-panel">
        <div id="filters-close">
            <a href="#"><i class="bi bi-x-circle-fill"></i></a>
        </div>
        <div class="filter-spinner-container text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">{% trans "Loading" %}</span>
            </div>
        </div>
        {% include "mapentity/mapentity_filter.html" %}
    </div>
</div>
