{% load mapentity_tags staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "mapentity/dataTables/css/dataTables.bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">

	<style type="text/css">
		{% include "mapentity/mapentity_detail_pdftemplate.css" %}
	</style>
{% endblock style %}

{% block EntityDetail %}
	{% smart_include "detail" %}

	<img src="{{ image_url }}" id="EntityScreenshot">

{% endblock EntityDetail %}