{% load static %}

<style>
    {% block map_css %}
        #{{ id_map }} {
            width: 100%;
            height: 100%;
        }
        {% if not display_raw %}
            #{{ id }} {
                display: none;
            }
        {% endif %}
    {% endblock map_css %}
</style>

{% block map %}
    <div id="{{ id_map }}" class="maplibre-map"></div>
{% endblock map %}

<script type="text/javascript">

    // Initialisation d'une nouvelle carte MapLibre
    document.addEventListener('DOMContentLoaded', function() {
            const mapId = '{{ id_map }}';
            const {BOUNDS, DEFAULT_CENTER, DEFAULT_ZOOM, SCALE, TILES} = window.SETTINGS.map.maplibreConfig;

            // Initialisation de la carte
            const bounds = [BOUNDS[0], BOUNDS[1]];
            const map = new MaplibreMap(mapId, DEFAULT_CENTER, DEFAULT_ZOOM, bounds);

            // Configuration des styles
            let style = window.SETTINGS.map.styles.others;
            if (typeof style !== "function") {
                style = { ...style };
            }

            let detailStyle = window.SETTINGS.map.styles.detail;
            if(typeof detailStyle !== "function") {
                detailStyle = { ...detailStyle };
            }

              // Gestion des vues
            const bodyElement = document.body;

            const context = {
                modelname: bodyElement.dataset.modelname || bodyElement.getAttribute('data-modelname'),
                viewname: bodyElement.dataset.viewname || bodyElement.getAttribute('data-viewname')
            };

            console.log('Context:', context);
            const modelname = context.modelname;

            // Récupérer tous les data attributes du body
            Array.from(bodyElement.attributes).forEach(function(attr) {
                if (attr.name.startsWith('data-')) {
                    const key = attr.name.substring(5); // Enlever 'data-'
                    context[key] = attr.value;
                }
            });

            // Créer une instance de MaplibreObjectsLayer
            const objectsLayer = new MaplibreObjectsLayer(null, {
                style: style,
                detailStyle: detailStyle,
                modelname: modelname
            });

            // Initialiser la couche d'objets
            objectsLayer.initialize(map.getMap());

            // Ajouter les couches de fond
            TILES.forEach((tile) => {
                const [tileName, tileUrl, tileAttribution] = tile;
                objectsLayer.addBaseLayer(tileName, {
                    id: tileName + '-base',
                    tiles: [tileUrl],
                    attribution: tileAttribution
                });
            });

            // Ajouter les contrôles
            map.getMap().addControl(new MaplibreLayerControl(objectsLayer), 'top-right');

            const unit = SCALE || 'metric';
            const scale = new maplibregl.ScaleControl({
                maxWidth: 80,
                unit: unit
            });
            map.getMap().addControl(scale, 'bottom-left');

            // Ajouter le contrôle de reset de vue
            map.getMap().addControl(new MaplibreResetViewControl(bounds), 'top-left');

            // ajout du contrôle de fichiers
            const fileLayerLoadControl = new MaplibreFileLayerControl({
                layerOptions: {
                    style: window.SETTINGS.map.styles.filelayer,
                }
            });

            map.getMap().addControl(fileLayerLoadControl, 'top-left');

            // Attendre que la carte soit chargée avant d'initialiser le callback
            map.getMap().on('load', function() {
                const fieldId = '{{ id }}';
                const options = {
                    modifiable: true,
                    geomType: '{{ geom_type }}',
                };

                const mapGeometryField = new MaplibreGeometryField(map.getMap(), fieldId, options); // onAdd ne marche que si on utilise addControl.

                {#const lineField = new MaplibreGeometryField(map.getMap(),'id_geom', {#}
                {#    geomType: 'LineString',#}
                {#    modifiable: true#}
                {# });#}

                {#// Pour un champ Polygon#}
                {#const polygonField = new MaplibreGeometryField(map.getMap(),'id_geom', {#}
                {#    geomType: 'Polygon',#}
                {#    modifiable: true#}
                {# });#}

                const layerUrl = window.SETTINGS.urls.layer.replace(/modelname/g, modelname);
                objectsLayer.load(layerUrl);
             });
    });
</script>

{% if display_raw %}<p>Geometry:</p>{% endif %}
<textarea id="{{ id }}" class="required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>