{% load static %}

<style>
    {% block map_css %}
        #{{ id_map }} {
            width: 100%;
            height: 100%;
        }
        {% if not display_raw %}
            #{{ id }} {
                display: none;
            }
        {% endif %}
    {% endblock map_css %}
</style>

{% block map %}
    <div id="{{ id_map }}" class="maplibre-map"></div>
{% endblock map %}

<script type="text/javascript">

    // Initialisation d'une nouvelle carte MapLibre
    document.addEventListener('DOMContentLoaded', function() {
            const mapId = '{{ id_map }}';
            const {BOUNDS, DEFAULT_CENTER, DEFAULT_ZOOM, SCALE, TILES} = window.SETTINGS.map.maplibreConfig;

            // Initialisation de la carte
            const bounds = [BOUNDS[0], BOUNDS[1]];
            const map = new MaplibreMap(mapId, DEFAULT_CENTER, DEFAULT_ZOOM, bounds, SCALE);

            const layerManager = new MaplibreLayerManager();

            // Attendre que la carte soit chargée avant d'initialiser le callback
            map.getMap().on('load', function() {
                 // Configuration des styles
                let style = window.SETTINGS.map.styles.others;
                if (typeof style !== "function") {
                    style = { ...style };
                }

                // modelname est récupéré depuis l'élément body
                const modelname = document.body.getAttribute('data-modelname');
                const nameHTML = '<span style="color:' + style['color'] + ';">&#x25A3;</span>&nbsp;' + modelname;
                const category = tr("Objects");
                const layerUrl = window.SETTINGS.urls.layer.replace(/modelname/g, modelname);
                const primaryKey = generateUniqueId();

                // Créer une instance de MaplibreObjectsLayer
                const objectsLayer = new MaplibreObjectsLayer(null, {
                    style: style,
                    modelname: modelname,
                    readonly : true, // empêche la surbrillance des objets
                    nameHTML: nameHTML,
                    category: category,
                    dataUrl : layerUrl,
                    primaryKey: primaryKey,
                    isLazy: false,
                });

                // Initialiser la couche d'objets

                objectsLayer.initialize(map.getMap());

                // Ajouter les couches de fond
                TILES.forEach((tile) => {
                    const [tileName, tileUrl, tileAttribution] = tile;
                    layerManager.addBaseLayer(tileName, {
                        id: tileName + '-base',
                        tiles: [tileUrl],
                        attribution: tileAttribution
                    });
                });

                // Ajouter les contrôles
                map.getMap().addControl(new MaplibreLayerControl(layerManager), 'top-right');

                // ajout du contrôle de fichiers
                const fileLayerLoadControl = new MaplibreFileLayerControl({
                    layerOptions: {
                        style: window.SETTINGS.map.styles.filelayer,
                    }
                });

                map.getMap().addControl(fileLayerLoadControl, 'top-left');

                // Ajouter un contrôle pour réinitialiser la vue
                map.getMap().addControl(new MaplibreResetViewControl(bounds), 'top-left');

                const fieldId = '{{ id }}';
                const options = {
                    modifiable: true,
                    geomType: '{{ geom_type }}',
                };
                console.log("geomType : ", options.geomType);

                const mapGeometryField = new MaplibreGeometryField(map.getMap(), fieldId, options); // onAdd ne marche que si on utilise addControl.

                objectsLayer.load(layerUrl);

             });
    });
</script>

{% if display_raw %}<p>Geometry:</p>{% endif %}
<textarea id="{{ id }}" class="required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>