*.pyc
__pycache__
/database.db
/mapentity.egg-info/
/.idea/
/.vscode/
/env/
/build/
/dist/
/static/
/media/
/docs/_build/
/README.html
/.coverage
*.mo
coverage.xml

# Node.js
node_modules/
package-lock.json

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/