*.pyc
__pycache__
/database.db
/mapentity.egg-info/
/.idea/
/.vscode/
/env/
/build/
/dist/
/static/
/media/
/docs/_build/
/README.html
/.coverage
*.mo
coverage.xml
.parcel-cache
node_modules
/mapentity/static/mapentity/dist/
!/mapentity/static/mapentity/dist/.empty
