services:
  convertit:
    image: makinacorpus/convertit:latest

  screamshotter:
    image: makinacorpus/screamshotter:v2

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./:/code/src
    depends_on:
      - screamshotter
      - convertit
    user: ${UID:-1000}:${GID:-1000}
    command: /code/venv/bin/python ./manage.py runserver 0.0.0.0:8000
    networks:
      default:
        aliases:
          - mapentity.local

  front:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - web
    ports:
      - "1234:1234"
    volumes:
      - ./:/code/src
    command: npm run watch

volumes:
  postgres:
  redis:
