Django==1.6.7
paperclip==0.4.1
djangorestframework==2.4.2
gpxpy==0.9.8
BeautifulSoup4==4.1.3
requests==1.2.3
django-modeltranslation==0.7.3
django-shapes==0.2.0
django-floppyforms==1.1.1
django-crispy-forms==1.2.3
django-compressor==1.3
django-filter==0.7
easy-thumbnails==1.4
django-tinymce==1.5.1
django-appypod>=0.0.2
django-leaflet==0.18.2
django-geojson==2.6.0
djangorestframework-gis==0.7
django-embed-video==0.11
WeasyPrint==0.23
django-weasyprint==0.1
