/* Layer Switcher Styles */
.layer-switcher-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.layer-switcher-menu h4 {
    margin: 6px 0 4px;
    font-size: 14px;
    font-weight: bold;
}

.layer-switcher-btn {
    background: white;
    border: none;
    cursor: pointer;
    padding: 4px;
}

/* Mesure controller */

.measure-control-btn {
    background: white;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.measure-control-btn img {
    vertical-align: middle;
}


/*.custom-popup .maplibregl-popup-content {*/
/*    background: rgba(0, 0, 0.8, 0.8); !* Semi-transparent black background *!*/
/*    color: white; !* White text *!*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*}*/

/*.custom-popup .maplibregl-popup-tip {*/
/*    border-top-color: rgba(0, 0, 0, 0.8); !* Match the popup background *!*/
/*}*/

.custom-popup .maplibregl-popup-content {
    background: rgba(255, 255, 255, 0.9); /* Fond blanc semi-transparent */
    color: black;                         /* Texte noir */
    font-weight: bold;                    /* Gras */
    font-size: 14px;                      /* Taille du texte ajustée */
    padding: 6px 10px;                    /* Espacement interne */
    border-radius: 6px;                   /* Coins arrondis */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); /* Légère ombre */
    /*text-align: center;                   !* Centrage du texte *!*/
    white-space: nowrap;                 /* Empêche les retours à la ligne */
    border: 2px solid rgba(0, 0, 0, 0.3); /* Contour fin */
    margin-left: 8px; /* Décalage pour éviter le chevauchement */
}

/* Supprimer le petit triangle du popup */
.custom-popup .maplibregl-popup-tip {
    display: none !important;
}


.custom-popup .maplibregl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.9); /* Pointe assortie au fond */
}


.measure-control-btn-active {
    background-color: #007cbf;
    border: 1px solid #005a94;
    box-shadow: 0 0 0 2px rgba(0, 123, 191, 0.4);
}

/* Custom tooltip */
.custom-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 9999;
    white-space: nowrap;
    pointer-events: none;
}

.layer-entry {
    display: block;
    margin-bottom: 5px;
}