/* Layer Switcher Styles */
.layer-switcher-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.layer-switcher-menu h4 {
    margin: 6px 0 4px;
    font-size: 14px;
    font-weight: bold;
}

.layer-switcher-btn {
    background: white;
    border: none;
    cursor: pointer;
    padding: 4px;
}

/* Mesure controller */

.measure-control-btn {
    background: white;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.measure-control-btn img {
    vertical-align: middle;
}


.custom-popup .maplibregl-popup-content {
    background: rgba(0, 0, 0.8, 0.8); /* Semi-transparent black background */
    color: white; /* White text */
    padding: 10px;
    border-radius: 5px;
}

.custom-popup .maplibregl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.8); /* Match the popup background */
}

.measure-control-btn-active {
    background-color: #007cbf;
    border: 1px solid #005a94;
    box-shadow: 0 0 0 2px rgba(0, 123, 191, 0.4);
}
