# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [ 3.6, 3.9 ]
        django-version: [ 2.2.*, 3.2.* ]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libproj-dev binutils gdal-bin libgdal-dev libsqlite3-mod-spatialite libcairo2 libpango-1.0-0 libpangocairo-1.0-0 libgdk-pixbuf2.0-0 libffi-dev shared-mime-info libpangoft2-1.0-0 libjpeg-dev libopenjp2-7-dev
        python -m pip install --upgrade pip setuptools wheel
        pip install .[dev]
        pip install Django==${{ matrix.django-version }} -U

    - name: Check pending migrations
      run: |
        ./manage.py makemigrations --check

    - name: Test with coverage
      run: |
        coverage run ./manage.py test

    - name: Coverage upload
      run: |
        pip install codecov
        codecov
